body {
    display: flex;
    justify-content: center;
    background-color: black;
}

a {
    text-decoration: none;
}

.disableClick {
    pointer-events: none;
}

.threePhoto img {
    width: 290px;
    height: 390px;
    padding: 15px;
    object-fit: contain;
}

.threePhotoWide img {
    width: 400px;
    height: 350px;
    padding: 15px;
    object-fit: contain;
}

.threePhoto iframe {
    width: 500px;
    height: 450px;
    padding: 15px;
    object-fit: contain;
    border: none;
}

.threePhoto {
    display: flex;
    justify-content: center;
}

p, li {
    font-size: 1.5rem;
    color: #dddddd;
    margin-right: 70px;
    margin-left: 70px;
}

h1 {
    font-size: 2.7rem;
    color: #dddddd;
    text-align: center;
    padding-top: 3px;
    display: flex;
    margin-left: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2 {
    font-size: 2rem;
    margin: 25px;
    color: black;
    text-shadow: -1px -1px #dddddd,
    1px -1px #dddddd,
    -1px 1px #dddddd,
    1px 1px #dddddd;
}

h3 {
    font-size: 4rem;
    margin: 25px;
    color: black;
    text-shadow: -1px -1px #dddddd,
    1px -1px #dddddd,
    -1px 1px #dddddd,
    1px 1px #dddddd;
}

h4 {
    font-size: 3.5rem;
    color: #dddddd;
    text-align: center;
    margin: 10px;
    padding-top: 3px;
    display: flex;
    justify-content: center;
}

#youtubeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 600px;
}

#duckStore {
    width: 90%;
    height: 190px;
    border: none;
    justify-content: center;
    display: flex;
}

#duckStoreMain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header {
    background: url("Images/ForestHeader.jpg");
    background-size: cover;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px
}

.topnav {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    max-height: 75px;
    height: 75px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 75px;
}

.socials img {
    display: flex;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 50px;
    object-fit: contain;
    transition: 0.6s;
}

.socials img:hover {
    scale: 1.1;
}

.topnav .nav {
    color: #dddddd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    width: 16.66%;
    transition: 0.6s;
}

.nav:hover {
    background-color: #dddddd;
    color: black;
}

.nav.current {
    color: #dddddd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    width: 20%;
    transition: 0s;
    background-color: #04AA6D;
}

#itch {
    width: 80%;
    height: 100%;
    border: none;
    justify-content: center;
    display: flex;
    background-size: contain;
}

.drp.current {
    color: #dddddd;
    background-color: #04AA6D;
}

.dropbtn.current {
    color: #dddddd;
    background-color: #04AA6D;
}

.title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 15px 15px;
}

hr.rounded {
    border-top: 8px solid #a3a3a3;
    border-radius: 5px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

object.inject {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigationBar {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #a3a3a3;
    padding: 10px;
    margin: auto;
    width: 90%;
}

.grid-item {
    background-color: black;
    border: 1px solid #dddddd;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #dddddd;
}

/* The dropdown container */
.dropdown {
    width: 16.66%;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #dddddd;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 0.6s;
    cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #dddddd;
    color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #dddddd;
    width: 100%;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 0.2s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: grey;
    color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    color: black;
}